<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="lib/angular-resource/angular-resource.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>

  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="MainController as mnctrl">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Recuperación de datos REST</h1>
      </ion-header-bar>
      <ion-content>
        <div class="list">
          <label class="item item-input item-select">
          <div class="input-label">Evento</div>
          <select ng-model="evento" ng-change="cambiaEvento(evento)">
            <option value"10" ng-selected="true">10</option>
            <option value"20" >20</option>
            <option value"30" >30</option>
            <option value"40" >40</option>
            <option value"50" >50</option>
          </select>
          </label>
        </div>

        <div>
          Datos recuperados: <br>
          Evento: {{evento}} <br>
          Acontecimiento {{Evento.acontecimiento.nombre}} <br>
          Organizador {{Evento.acontecimiento.organizador}}
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
